/* Footer */
section,
footer {
  padding: 5px 0;
}

@media screen and (max-width: 768px) {
  body {
    width: 100vw !important;
    box-sizing: border-box !important;
    font-size: 12px;
  }

  .profil h4 {
    font-size: 23px;
  }

  nav .brand-logo {
    left: 0 !important;
  }
}

li a {
  color: #000;
}

.footer,
.footer a {
  color: #fff;
}

.footer .row a:hover {
  color: rgb(200, 200, 200);
}
